@import "mix";
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: aquamarine;
  }
}
.esoesoeso {
  border: 2px solid aquamarine;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  text-align: center;
}