@import "mix";
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: aquamarine;
  }
}

.esoesoeso {
  border: 2px solid aquamarine;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  text-align: center;
}

.dates {
  ul {
    border: 1px dashed aquamarine;
    margin-bottom: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-family: "fira-sans";
    justify-content: space-between;
    text-align: left;
    list-style: none;
    width: 100%;
    li a {
      color: mediumpurple;
      &:hover {
        color: aquamarine;
      }
    }

    li:first-child, li:last-child {
      width: 20%;
    }
  }
}

.lyric-grid {
  background: url('../images/large-grid-pink.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  #shuffle {
    cursor: pointer;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    width: 100%;
    overflow: hidden;
    @include clearfix;
    @include box-sizing;
    &>div {
      color: #000;
      padding: 20px 10px;
      float: left;
      font-size: .6875em;
      width: 25%;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all .25s;
      transition: all .25s;
      @include box-sizing;
      &:hover {font-size: .73em;font-weight: bold;}
      &.magnify {color: #46FFD0;font-weight: bold;font-size: 1.2em;}
      &.turn {-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
      &.tilt {color: #9D0AFF;-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
      &.back {color: #9D0AFF;-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
    }
  }
}

.press-button, .purchase-button {

}
.purchase-button {
  position: fixed;
  overflow: hidden;
  right: 10px;
  border: 4px solid aquamarine;
}

.press-button {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  left: 40px;
  width: 110px;
  height: 110px;
  border: 4px solid hotpink;
  border-radius: 50%;
  &:hover {
    background-color: hotpink;
    a {
      color: #fff;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: hotpink;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    letter-spacing: .2em;
    top: 40%;
    font-size: 1em;
    text-transform: uppercase;
  }
}

.press {
  background-color: rgba(255,255,255,1);
  padding: 30px;
  position: relative;

  h1 {
    color: #000;
    letter-spacing: 20px;
  }

  a {
    color: mediumslateblue;
    text-transform: uppercase;
    font-size: 1.875em;
    margin-top: 80px;
    letter-spacing: .09em;
    display: block;
    &:hover {
      color: aquamarine;
    }
    &:focus {
      outline: 0;
    }
  }

  p {
    color: #000;
    font-size: 1.25em;
    font-weight: 600;

    &.podcast {
      cursor: pointer;
      background-color: #fff;
      padding: 20px;
      margin: 0 auto;
      text-transform: uppercase;
      max-width: 300px;
    }

    &.read-more {
      cursor: pointer;
      letter-spacing: .2em;
      font-weight: 400;
      &:hover {
        color: mediumpurple;
      }
    }
  }

  ul {
    list-style: none;
    text-align: left;
    display: none;
  }

  ul li {
    color: #000;
    font-size: .9em;
    margin-bottom: 20px;
  }

  span {
    display: none;
    color: #000;
    margin-bottom: 40px;
    text-align: right;
    font-size: .675em;
  }
}