@import "mix";
.no-js #preload { display: none;  }
.js #preload { display: block; position: absolute; left: 0; top: 0; right: 0;
padding: 60px; width: 100%;height: 100%; overflow: hidden;   background: rgba(220, 183, 255, 1); color: #fff; font-size: 1em; z-index: 99999999;}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: aquamarine;
  }
}

.esoesoeso {
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  text-align: center;
}

.arrow {
  display: none;
  cursor: pointer;
  position: fixed;
  color: #000;
  border: 3px solid #000;
  padding: 20px;
  right: 5px;
  bottom: 5px;
  z-index: 99999999;
  &:hover {
    border-color: mediumpurple;
    color: mediumpurple;
  }
}

.video-wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 40px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  .border {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    border: 25px solid transparent;
    z-index: -999999;
  }
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  @include breakpoint(tablet-desktop) {
    top: 50px;
  }
}

.dates {
  ul {
    margin-bottom: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-family: "fira-sans";
    justify-content: space-between;
    text-align: left;
    list-style: none;
    width: 100%;

    li {
      font-size: .625em;
      @include breakpoint(tablet-desktop) {
        font-size: .75em;
      }
    }

    li a {
      color: mediumpurple;
      &:hover {
        color: aquamarine;
      }
    }

    li:first-child, li:last-child {
      width: 20%;
    }
  }
}

.lyric-grid {
  background: url('../images/large-grid-pink.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  #shuffle {
    cursor: pointer;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    width: 100%;
    overflow: hidden;
    @include clearfix;

    &>div {
      color: #000;
      padding: 20px 10px;
      float: left;
      font-size: .6875em;
      width: 25%;
      text-align: center;
      user-select: none;
      transition: all .25s;
      @include box-sizing;

      &:hover {font-size: .73em;font-weight: bold;}
      &.magnify {color: #46FFD0;font-weight: bold;font-size: 1.2em;}
      &.turn {transform: rotate(90deg);}
      &.tilt {color: #9D0AFF;transform: rotate(45deg);}
      &.back {color: #9D0AFF;transform: rotate(-45deg);}
    }
  }
}

.purchase-button {
  display: none;
  position: fixed;
  overflow: hidden;
  right: 10px;
  top: 450px;
  padding: 15px;
  border: 4px solid aquamarine;
  text-transform: uppercase;
  font-size: .625em;
  letter-spacing: .09em;
  transform: rotate(-45deg);

  @include breakpoint(tablet-desktop) {
    display: block;
    &:hover {
      background-color: aquamarine;
      color: #fff;
    }
  }
}

.press-button {
  cursor: pointer;
  display: none;
  position: fixed;
  overflow: hidden;
  top: 100px;
  left: 12%;
  width: 110px;
  height: 110px;
  border: 4px solid #4587ff;
  border-radius: 50%;
  @include breakpoint(tablet-desktop) {
    display: block;
  }

  &:hover {
    background-color: #4587ff;
    span {
      color: #fff;
    }
  }

  span {
    cursor: pointer;
    text-decoration: none;
    color: #4587ff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    letter-spacing: .2em;
    top: 40%;
    font-size: 1em;
    text-transform: uppercase;
  }
}

.follo-button {
  cursor: pointer;
  width: 0;
  height: 0;
  position: absolute;
  left: 3%;
  top: 120px;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 140px solid #dcff3c;
  transform: rotate(-30deg);
  &:hover {
    border-top-color: #46FFD0;
  }
  span {
    position: relative;
    top: -110px;
    left: -32px;
    color: #000;
  }
}

.press {
  background-color: rgba(255,255,255,1);
  font-family: "fira-sans";
  font-weight: 100;
  padding: 30px;
  position: relative;
  @include breakpoint(tablet-desktop) {
    padding: 190px 180px;
  }

  h1 {
    border-bottom: 3px dashed #dcff3c;
    padding-bottom: 35px;
    color: #000;
    letter-spacing: 15px;
    font-size: 2em;
    font-family: "fira-sans";
    font-weight: 100;
    width: 100%;
    @include breakpoint(tablet-desktop) {
      font-size: 3.25em;
    }
  }

  a {
    color: mediumslateblue;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 80px;
    letter-spacing: .09em;
    display: block;
    @include breakpoint(tablet-desktop) {
      font-size: 1.876em;
    }
    &:hover {
      color: aquamarine;
    }
    &:focus {
      outline: 0;
    }
  }

  p {
    color: #000;
    font-size: .75em;
    font-family: "fira-sans";
    font-weight: 400;
    @include breakpoint(tablet-desktop) {
      font-size: 1.25em;
    }
    &.podcast {
      cursor: pointer;
      background-color: #fff;
      padding: 20px;
      margin: 0 auto;
      text-transform: uppercase;
      max-width: 300px;
    }

    &.read-more {
      cursor: pointer;
      font-size: .625em;
      letter-spacing: .2em;
      font-weight: 400;
      &:hover {
        color: mediumpurple;
      }
    }
  }

  ul {
    list-style: none;
    text-align: left;
    display: none;
  }

  ul li {
    color: #000;
    font-size: .9em;
    margin-bottom: 20px;
  }

  span {
    display: none;
    color: #000;
    margin-bottom: 40px;
    text-align: right;
    font-size: .675em;
  }
}
