---
title: E R I C A E S O
---

<section class="esoesoeso one">
  <div class="content">
    <div data-sr="move 35px, reset">
      <a data-behavior="scroll-to-follo" class="follo-button"><span>FOLLOW</span></a>
    </div>
    <div data-sr="move 15px, reset">
      <a class="purchase-button" target="_blank" href="https://ramplocal.bandcamp.com/" class="ramp-local"><span>Click here purchase Cassette and CD from Ramp Local Records</span></a>
    </div>
    <div class="video-wrapper">
      <div class="video-container" data-sr="wait .25s, move 15px, reset">
        <iframe width="100%" src="https://www.youtube.com/embed/kVim_AOb0rs?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
        <div class="border"></div>
      </div>
    </div>
    <div data-sr="wait .25s, move 15px, reset">
      <a data-behavior="scroll-to-press" class="press-button"><span>Press</span></a>
    </div>
</section>
<section class="esoesoeso two dates">
  <div class="content">
    <a class="show-link" href="#">
      <ul class="show-info">
        <li>SUN DEC 6TH</li>
        <li>BROOKLYN @ THE BELL HOUSE</li>
        <li>W/ LAND, NELS CLINE, BIG THIEF, GEMMA, CASSANDRA JENKINS AND MANY MORE</li>
      </ul>
    </a>
    <a class="show-link" href="#">
      <ul class="show-info">
        <li>SUN DEC 6TH</li>
        <li>BROOKLYN @ THE BELL HOUSE</li>
        <li>W/ LAND, NELS CLINE, BIG THIEF, GEMMA, CASSANDRA JENKINS AND MANY MORE</li>
      </ul>
    </a>
  </div>
</section>
<section class="lyric-grid">
  <section id="shuffle">
      <div  data-sr="wait .5s, move 20px, reset" class="tilt"><pre>make you feel this song/way
  when i can't even feel this song/way</pre></div>
      <div data-sr="wait .5s, move 30px, reset"><pre>colors much
  deeper than
    i can see</pre></div>
      <div data-sr="wait .5s, move 10px, reset"><pre>if yr diagonal
  i'm a triangle oh</pre></div>
      <div data-sr="wait .5s, move 30px, reset"><pre>   you know you
             kinda
  feel good anyway</pre></div>
      <div data-sr="wait .5s, move 35px, reset" class="turn"><pre>  i feel
       below
       the surface
       of i think
  too much</pre></div>
      <div class="tilt"><pre>yellow stare
  silent breath</pre></div>
      <div data-sr="wait .5s, move 20px"><pre>i'd like live to a hundred
  years old</pre></div>
      <div class="turn"><pre>ah</pre></div>
      <div data-sr="wait .5s, move 10px, reset"><pre> i was born to dunk
  but i'm bored and drugged
  </pre></div>
      <div><pre>rings too deep
  to ever
  simply agree </pre></div>
      <div data-sr="wait .5s, move 10px, reset" class="tilt"><pre>the atlantic</pre></div>
      <div data-sr="wait .5s, move 20px, reset"><pre>chelsea/bradley oh</pre></div>
      <div data-sr="wait .5s, move 30px, reset"><pre>didn't come
        no drum
  didn't come from
          no strummin'
  </pre></div>
      <div data-sr="wait .5s, move 35px, reset" ><pre>unwieldy
        bearded face
  unyielding
  human race</pre></div>
      <div  data-sr="wait .5s, move 15px, reset" class="turn"><pre>ooh boy
  ah ah ah</pre></div>
      <div data-sr="wait .5s, move 30px, reset" class="turn"><pre>manipulate
        yr body
  yr a woman body
     builder</pre></div>
      <div><pre>   open night
           hallow words
  my body uncurls</pre></div>
      <div data-sr="wait .5s, move 25px, reset" class="turn"><pre>
  hoo
  hoo
  hoo
  hoo
  hoo
  hoo</pre></div>
      <div data-sr="wait .5s, move 30px, reset"><pre>you got neer
        me ruuner</pre></div>
      <div data-sr="wait .5s, move 15px, reset"><pre>            dance hall
                        broken heart
         drivin' in the country
  all my friends around me    gotta get reborn</pre></div>
      <div><pre>  how is she so beautiful
  when she's so clearly a man</pre></div>
      <div class="back"><pre>i
     you
      this
            might have this</pre></div>
  <div data-sr="wait .5s, move 20px, reset" class="tilt"><pre>gender it</pre></div>

      <div data-sr="wait .5s, move 20px, reset"><pre>i feel words</pre></div>
      <div  data-sr="wait .5s, move 10px, reset" class="tilt"><pre>if you are you and me
  then they
  then we're crippled symmetry</pre></div>
  <div data-sr="wait .5s, move 10px, reset" class="back"><pre>this attic it</pre></div>
      <div><pre>bells they sound
  bells they deem</pre></div>
      <div><pre>                                                                                        sound of the space that it occupies
                                                                  but about the
  it's not about where the song goes</pre></div>
      <div><pre>        half you/half free
  lungs bleached white from
             plastic debris</pre></div>
      <div><pre>nananananananananananananananana</pre></div>
  <div data-sr="wait .5s, move 30px, reset"><pre>i feel touch</pre></div>
  <div><pre>if yr geronimo
  i'm guantanamo oh</pre></div>
  <div data-sr="wait .5s, move 10px, reset"><pre>hold my baby hostage like i told her
    i was pregnant with music/music</pre></div>
  <div><pre>born to
  the new jack swing</pre></div>
  <div data-sr="wait .5s, move 25px, reset"><pre>oh/hold/coast/gold
                          atlantic</pre></div>
  <div class="turn"><pre>tom boy
  drippin' 'til
  we smell the rain</pre></div>
  <div  data-sr="wait .5s, move 30px, reset"class="back"><pre>the fire it</pre></div>
  <div class="back"><pre>atlantic it</pre></div>
  <div  data-sr="wait .5s, move 20px, reset"class="turn"><pre>hit her</pre></div>
  <div data-sr="wait .5s, move 30px, reset"><pre>this diet has no
    fruit without you</pre></div>
  <div><pre>if you are medical/i am hospital</pre></div>
  <div data-sr="wait .5s, move 30px, reset"><pre>uh huh</pre></div>
  <div class="tilt"><pre>hollywood's american
  clutch</pre></div>
  <div data-sr="wait .5s, move 10px, reset"><pre>portrait of
    the hopi woman
  left you longin'
  like forever
  </pre></div>
  <div><pre>auditory fever dream</pre></div>
  <div data-sr="wait .5s, move 30px, reset"><pre>if yr melodious
         i'm the lonliest song</pre></div>
  <div><pre>we walk this death-spread what loaded use </pre></div>
  <div><pre>the water's hard
             the water's far gone</pre></div>
  <div class="turn"><pre>i'm gone</pre></div>
  <div data-sr="wait .5s, move 20px, reset"><pre>         feel/touch
  wouldn't call for fun</pre></div>
  <div class="tilt"><pre>uh huh</pre></div>


  <div data-sr="wait .5s, move 10px, reset" class="back"><pre>boredom it</pre></div>
  <div class="tilt"><pre>jargon it</pre></div>


  <div data-sr="wait .5s, move 20px, reset" class="turn"><pre>it/they is/are burning
  eyes closed for half a year
        starin' at those lids
  yeah that's where you are</pre></div>
  <div><pre></pre></div>

  <div><pre>you saw birds
    when i saw feathers
    when we were together
    that's where you are
  </pre></div>
  <div data-sr="wait .5s, move 30px, reset" ><pre>swung fast when threw knuckle
  just under the buckle</pre></div>
  <div><pre>whole world
  so so so so so mad</pre></div>
  <div data-sr="wait .5s, move 30px, reset"  class="turn"><pre>2019</pre></div>

  <div><pre>burning memories right
    into me while you forget
   everything you are</pre></div>
  <div class="tilt"><pre>war crimes they</pre></div>
  <div class="back"><pre>cave air it</pre></div>
  <div class="tilt"><pre>justice it</pre></div>
  <div data-sr="wait .5s, move 10px, reset"  class="back"><pre>shadow it</pre></div>
  <div data-sr="wait .5s, move 30px, reset" ><pre>that's where you are</pre></div>
  <div data-sr="wait .5s, move 20px, reset" ><pre>        yr dyin'
  just invisible-izing that body
  yeah that's where you are</pre></div>
  <div data-sr="wait .5s, move 30px, reset" ><pre>a
    hundred
                   years
                            from now</pre></div>
  </section>
</section>
<section class="esoesoeso three">
  <div class="content mystics">
    <h1>4 AMERICAN MYSTICS</h1>
    <div class="container">
      <div class="left">
        <img data-sr="wait .25s, move 15px, reset" data-name="judith" data-behavior="show-mystic-content" src="images/judith.png">
        <img data-sr="wait .25s, move 25px, reset" data-name="randy" data-behavior="show-mystic-content" src="images/randy.png">
        <img data-sr="wait .25s, move 35px, reset" data-name="bell" data-behavior="show-mystic-content" src="images/bell.png">
        <img data-sr="wait .25s, move 45px, reset" data-name="iris" data-behavior="show-mystic-content" src="images/iris.png">
      </div>
      <div class="show iris video-wrapper">
        <div class="video-container">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/m2tM1PEaKAo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="show randy">
        <img src="images/randy-gif.gif">
      </div>
      <div class="show judith">
        <p>"Language... is a set of acts, repeated over time, that produce reality-effects that are eventually misrepresented as "facts". Collectively considered, the repeated practice of naming sexual difference has created this appearance of natural division. The "naming" of sex is an act of domination and compulsion, an institutionalized performative that both creates and legislates social reality...Hence, we are compelled in our bodies and our minds to correspond, feature by feature, with the idea of nature that has been established for us...'men' and 'women' are political categories, and not natural facts."<br/> -Judith Butler</p>
      </div>
      <div class="show bell video-wrapper">
        <div class="video-container">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/_LL0k6_pPKw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="esoesoeso four">
  <div id="follo" class="content">
    <div class="social">
      <p>follo erica eso</p>
      <a target="_blank" href="https://www.facebook.com/EricaEsoMusic">facebook</a>
      <a target="_blank" href="https://www.instagram.com/ericaeso/">instagram</a>
      <a target="_blank" href="https://twitter.com/EricaEsoMusic">twitter</a>
    </div>
  </div>
</section>
<section id="eso-press" class="press">
  <div class="content">
    <h1>PRESS</h1>
    <a target="_blank" href="http://www.tinymixtapes.com/chocolate-grinder/premiere-erica-eso-one-hundred-years">Tiny Mix Tapes</a>
    <p>"Perhaps one of the most quotable hooks of 2015 comes from an unexpected source. Erica Eso, a new “globalized pop” sensation..."</p><p class="read-more" data-behavior="read-more">read more</p>
    <ul>
      <li>Perhaps one of the most quotable hooks of 2015 comes from an unexpected source. Erica Eso, a new “globalized pop” sensation emanating from avant synthesist Weston Minissali, delivers a excitable melody in an unknown falsetto: it croons a rousing chorus for modern hearts, “One hundred years from now, me and baby are gonna leave this town.” As hopeful as the statement may be, the entire track is functioning as an empty bracket in which to fill new sentiment – mutated, morphed, damaged, and changed by the shadow of a totally unknown but not-so-distant future, to be explored in full in the project’s forthcoming album 2019.</li>
      <li>Minissali has consistently been fascinated with intersections between high-concept and direct delivery, as explored in his projects Vavatican and Cloud Becomes Your Hand. Yet, its taken this long to reach this level of conceptual cleanliness – a tight mix, a squirmy anxiety, a microtonal oddness that seems to creep behind every accessible gesture.</li>
      <li>As “future-minded” music slogs along with its flighty, speculative agenda, Erica Eso places it distinctly within the human heart; the track professes an optimism that drives the creative will into the “unknown-known” of human closeness, like a warm human touch radiating with robotic energy. Such hybrid sentimentality is much needed, but it comes packaged alongside potentially subversive art-tactics. Yes, the group’s optimism reaches outward, but it’s decoy-persona of accessibility gives way to guitar-squall and mystery. The track’s willful submission to a sturdy pop format is coupled with genuine peculiarity – a compassionate experimentalism anticipating dystopia, without being turned cold by it.</li>
    </ul>
    <span>by SCVSCV 9/23/15</span>
    <a target="_blank" href="http://www.factmag.com/2015/11/06/name-your-price-octobers-best-bandcamp-releases/7/">FACT MAG</a>
    <p>"shifting between breathy, confessional vocals and sections autotuned down to impressionistic smears of data..."</p>
    <p class="read-more" data-behavior="read-more">read more</p>
    <ul>
     <li>Erica Eso is a project from Weston Minissali, who’s known for his elastic keyboard work with Brooklyn band Cloud Becomes Your Hand. 2019 delivers some of the same bent sonics alongside vocals that range from untouched to processed beyond recognition. ’Reborn’ does both, shifting between breathy, confessional vocals and sections autotuned down to impressionistic smears of data. That one has a nice overload to it, but more often than not 2019 is an album of delicate moments, such as the floating middle section of ‘Good Good Bad’, ‘Iris Kyle’, and ‘~Pink Atlantic~’. Finding that balance between “experimental” and “pop” is the trick, though (something Cloud nailed last year on their excellent album Rocks Or Cakes), and 2019 delivers immediately with opener ‘One Hundred Years’, a catchy assurance that Erica Eso can walk that line even with their heads stuck in the clouds.</li>
    </ul>
    <span>by Miles Bowe 11/6/15</span>
    <a target="_blank" href="http://www.tabsout.com/?p=10578">TABS OUT</a>
    <p>" 2019 is an album of tightly-written songs with enduring melodies that convey both a sense of tender fragility and a kind of archetypal carved-in-stone inevitability..."</p>
    <p class="read-more" data-behavior="read-more">read more</p>
    <ul>
      <li>Synth whisperer and composer Weston Minissali plays with some of the deepest avant-weirdo collabs around: his tapes with Trumpet Trumpet Synthesizer on Weird Ear Records and VaVatican on NNA Tapes were a couple of the wildest rides of 2014, not to mention the spectacular Cloud Becomes Your Hand LP, Rocks or Cakes. Now Minissali has launched a solo project called Erica Eso, whose debut “2019” drops this week, and this tape rules so hard that you might as well just glue it into your Walkman.</li>
      <li>At its core, 2019 is an album of tightly-written songs with enduring melodies that convey both a sense of tender fragility and a kind of archetypal carved-in-stone inevitability. From the foothold of this songwriting, seriously trippy arrangements explore uncharted territory from several perspectives, featuring Minissali on falsetto lead vocals that are teased with autotune and formant manipulations into a unique kind of pandrogyne psalmistry. As you might expect, synths dominate the sound of Erica Eso, from delicate high-frequency wisps to sounds that remind me of a performance indication in one of Weston’s graphic scores: “LARGE TIMELESS SOUND.” But perhaps the most interesting facet of this music beyond the songs themselves is their temperament: these are quarter tone jams!</li>
      <li>You don’t have to be into music nerd technicalities to feel what’s going on in these pieces, but let’s explore this for a minute. You have microtonal music in general, which includes a variety of non-Western musical traditions who use tuning systems other than equal temperament, and then you have quarter tones, an extension of equal temperament produced by dividing the 12 equal tones in western music in half again (24-tet). The latter have mostly been used for academic or “art” music by composers like Ives, Stockhausen, Xenakis, etc, and in those scenes, they’re almost always used to create new kinds of dissonance and fragmentation. Minissali’s writing for Erica Eso takes an almost opposite approach: this music is exploring new kinds of consonance, a new tonality.</li>
      <li>You’ll hear quarter tones introducing new kinds of emotional spaces throughout 2019. Sure, there are a few passages where the music assumes a kind of melting elasticity, but more often the quarter tones are poignantly melodic. I’m especially fixated on what’s happening with 3rds and 7ths in this music: you get phrases where the usual happy/sad duality of major and minor 3rds opens into a new in-between vibe. Or you get flat 7ths drooping a little more flat than usual, or major 7th leading tones pushed up even closer to the octave, just begging to resolve. If you let yourself get into those little adjustments in pitch, they carry a huge emotional punch that’s hard to articulate: something of a lengthy nostalgia, a seasonal shift?…presque vu. There are even spots where Minissali’s vocals are autotune-locked to quarter tone intervals, easily the most intense use of autotune since Cher swallowed an Antares plugin.</li>
      <li>So if you like getting supersize seasonal feels from music, you’re gonna want to check out Erica Eso. A live band lineup rolls out to support this album on October 16, also the official release date for 2019. You can check tour dates at Erica Eso’s website, and you can preorder the album from Ramp Local.</li>
    </ul>
    <span>by Scott Scholz 10/13/15</span>
    <a target="_blank" href="http://music.mxdwn.com/2015/10/21/reviews/erica-eso-2019/">MXDWN</a>
    <p>"asks the question “what is this?"..."</p>
    <p class="read-more" data-behavior="read-more">read more</p>
    <ul>
      <li>Expectations and Boundaries</li>
      <li>2019 is the debut album for Erica Eso, founded by composer and synthesizer Weston Minissali of Cloud Becomes Your Hand alongside Nathaniel Morgan on bass, Rhonda Lowry on drums and Ellen O’Meara on synthesizer. The collaborators push some of the expected boundaries while still staying grounded in some of the aspects of what makes up pop music, making 2019 a unique experience.</li>
      <li>Opening 2019, “One Hundred Years” kicks off at an upbeat pace and with its breathy, catchy lyrics (“One hundred years / Me and my baby are going to leave this town”), it sets the album up for something positive, giggly and maybe even a little vapid. That does not become the case, though. As the album progresses songs become harsher, like “Crippled Symmetry” which has a more industrial sound compared to the rest of the album; particularly opener “One Hundred Years.” Near the end of the album much of those grounding pop music aspects have left and are replaced with much more abstract fundamentals: “Iris Kyle” sounds like a band tuning up while “Pink Atlantic” builds itself up from a flat bass line. With the closing song, “Jargon,” there is more of a union between what makes up “One Hundred Years” and what makes up “Pink Atlantic.” Overall, it is a little weird, definitely different and asks the question “what is this?”</li>
      <li>What this is, seems to be happening more within the words than the music. Mostly there is an overall hope for the future, which may be why the album gets its name from a year that is four years into the future; maybe it is a hope for where Erica Eso will be in four years. At times, though, these songs touch on ideas of gender fluidity, the most obviously being “Good Good Bad” a love song that focuses on a woman and “how is she so beautiful when she’s so clearly a man.” Either way, it is the use of these abstract sounds that allows Erica Eso to actually explore either idea without feeling the constraints of the expected rules.</li>
    </ul>
    <span>by Megan Huffman 10/21/15</span>
    <a target="_blank" href="https://www.mixcloud.com/WordsOnSounds/words-on-sounds-ep-49/">WORDS ON SOUNDS PODCAST Ep. 49</a>
    <p>podcast feature</p>
    <a target="_blank" href="http://nyc.thedelimagazine.com/21993/weston-minissali-releases-singles-for-his-latest-musical-venture-erica-eso-from-upcoming-album">DELI</a>
    <p>"Erica Eso's first singles make it clear that Minissali's talents as an experimental composer span across genres..."</p>
    <p class="read-more" data-behavior="read-more">read more</p>
    <ul>
    <li>Weston Minissali releases singles for his latest musical venture, Erica Eso, from upcoming album, "2019"</li>
    <li>The name Erica Eso may sound like some music making beauty, but it's actually the latest musical brain-child of Weston Minissali, also known as the synth player from Cloud Becomes Your Hand. Erica Eso's synth-heavy pop melodies are a clear departure from the otherworldly avant-rock sound of Cloud Becomes Your Hand, but Erica Eso's first singles make it clear that Minissali's talents as an experimental composer span across genres. As of last week, the first singles from Erica Eso's upcoming album, "2019," are now available for streaming (below) on SoundCloud and Bandcamp with the full release coming later this year.</li>
    </ul>
    <span>by Sam o'Hara 7/9/15</span>
    <a target="_blank" href="http://bostonhassle.com/2015/11/cloud-becomes-your-hand-and-erica-esos-weston-minissali-is-in-the-heart-zone/">BOSTON HASSLE</a>
    <p class="read-more"data-behavior="read-more">read full interview</p>
    <ul>
      <li>Weston Minissali is the musical father of the experimental pop project Erica Eso and synthesizer player and an arranger of Cloud Becomes Your Hand. Before Minissali comes to Boston this Friday to play our own Hassle Fest 7, he answered some questions on his varying roles, surrendering yourself, and what is in the future.</li>
      <li><strong>Boston Hassle:</strong> How many projects are you currently involved in?</li>
      <li><strong>Weston Minissali:</strong> I have 4 active projects. 1) Erica Eso, a solo project turned 4-piece microtonal pop band. 2) Cloud Becomes Your Hand 3) a brand new duo with the drummer of Cloud Becomes Your Hand, and a cozmyk sibling- Booker Stardrum. We lived in the woods for a week last winter and wrote some otherwise unimaginable music that’ll drop in 2016, and I think we’re called TonyVision? 4) Trumpet Trumpet Synthesizer- is a duo with the trumpet player Brad Henkel, who currently lives in Germany. We have 2 records out and will release a 3rd next year.</li>
      <li><strong>BH:</strong> How do you approach Erica Eso differently than Cloud Becomes Your Hand? How do your roles differ between projects?</li>
      <li><strong>WM:</strong> In Cloud, I’m mostly a synthesizer player and an arranger. I write riffs here and there to help things gel, but Stephe Cooper writes the core ideas. The rest of us have our very specific roles required to make the music really HAPPEN. Almost all my energy in this band is put into creating the synth timbres, as opposed to composition like all my other projects. I think that specificity of focus has allowed for a lot of detail and richness to come through in our songs. And that goes for everyone else in the band. We all have very hard-to-describe roles that are totally essential. Including the latest and sexiest member SIMON HANES!</li>
      <li>Erica Eso is my baby…or maybe duel identity is more appropriate…or maybe she’s pregnant with me… It has been such an intimate process writing and now performing this music, it really has been unlike any other project. Although the record only debuted last month, the music has been written for well over 2 years and the abstract fragments started to come way before that. I started to imagine this loner voice cruisin’ all sexy and fragile over loose synth rhythms and crackles. I think that vision is represented pretty well in the track Iris Kyle. Then that initial vibe started to shift to the more dancy tracks like One Hundred Years and Crippled Symmetry) etc.. Now I have this amazing live band with Rhonda Lowry, Ellen O’Meara and Nathaniel Morgan, all of whom I’m obsessed with. We just finished our first tour and I’m just really excited for this new iteration of the project to grow and be heard.</li>
      <li><strong>BH:</strong> Are there any particular messages you try to convey through these bands?</li>
      <li><strong>WM:</strong> I’m always hesitant to say anything too directly on this front. I think the most important messages are in the music itself, and would just encourage people to check it out. I will say in regards to Erica Eso, there is a particular embrace and surrender to a female wisdom that is a growing inspiration within myself and the people I surround myself with. If there’s anything the world needs most…</li>
      <li><strong>BH:</strong> What are some of your biggest influences and inspirations?</li>
      <li><strong>WM:</strong> Morton Feldman, Mariah Carey, Eliane Radigue, Nina Simone, Judith Butler, Michel Foucault, bell hooks and R Kelly.</li>
      <li><strong>BH:</strong> Have your goals and perspective of being a musician changed over the years?</li>
      <li><strong>WM:</strong> I’d say a general motion away from unnecessary clutter towards a cleaner simple vision. It used to be a more intellectual pursuit, which was completely necessary for my personal artistic journey, but I think I’m in more of a heart zone now.</li>
      <li><strong>BH:</strong> Will this be your first Hassle Fest? Is there anyone in particular that you are excited to see?</li>
      <li><strong>WM:</strong> Cloud has played Hassle before but this will be the first time with our extra exciting Boston-tastic lineup featuring the latest and sexiest member SIMON HANES!</li>
      <li>But more than anything I’m looking forward to seeing the DIY Love-Monster/master SAM POTRYKUS do what he does best- gathering humans to celebrate being youtube channels together.</li>
      <li><strong>BH:</strong> What is in the future for Erica Eso and Cloud Becomes Your Hand?</li>
      <li><strong>WM:</strong> Erica Eso will be releasing some music video’s in the next few months while working on the next record. We’ll jus be playing NY until maybe January, when I’d like to come back to Boston again. Hey Sam, wanna book us a show? Cloud Becomes Your Hand has a lot on our horizon. I’m super excited to release our next record with Northern Spy again, that’ll be out in spring 2016. We’ll most definitely be hitting up Boston and a bunch of the country around then.</li>
    </ul>
    <span>By Keeley Cormac 11/5/15</span>
    <a target="_blank" href="https://bostonhassle.com/2015/10/erica-eso-2019/">BOSTON HASSLE</a>
    <p>"clean dance music, with existential themes, no unnecessary sounds..."</p>
    <p class="read-more" data-behavior="read-more">read more</p>
    <ul>
      <li>If Cloud Becomes Your Hand is avant synth rock, then Erica Eso is avant synth pop. From the mind of CBYH composer and synther, Weston Minissali, comes Erica Eso. Erica Eso is not an alter-ego, it is an explorative Brooklyn-based pop group. Along with Minissali is Rhonda Lowry, Nathaniel Morgan, and Ellen O’Meara on drums, bass, and synth respectively. They’ve combined their transcendent musical affections to bring you some of the freshest and most exciting pop I have heard in a long time on their debut album, 2019.</li>
      <li>It reminds me of when I used to listen to Passion Pit in high school, but it is much better than that. Erica Eso features many elements modern pop but you can still feel the effects of CBYH. It is very clean dance music, with existential themes, no unnecessary sounds, and a calm pace. It has an electronic R&B vibe. Autotune is used on the already very high pitched vocals to keep up with the synths, and it’s the most tasteful use of autotune that I have ever heard. The album has a futuristic aura, hence the title, the way they explore distorted sound waves and tone and the impeccable production value.</li>
      <li>I’m obsessed with the lead single, “One Hundred Years.” It’s a smooth electropop song that is both hopeful and earnest as it features lyrics like “I get down when I look at the stars, Because for all I know, That’s where you are.” The steady drums beats has a nice thump and stays true throughout the whole album to give it a very strong sense of rhythm. The most prominent feature of Erica Eso is their use of synthesizes. Minissali is able to achieve amazing harmonies with the synths and every instrument. 2019 draws attention with its pop melodies that sound strong but fragile, like glass. 2019 is available now on Ramp Local Records. And I also highly recommend that you check out the highly interactive EricaEso.com.</li>
    </ul>
    <span>By Keeley Cormac, 10/16/15</span>
  </div>
</section>
